<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/dashbord.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="image">
                <img src="/public/images/logopng.png" alt="">
            </div>
            <nav>
                <p href="">Utilisateur</p>
                <p href="">Utilisateur</p>
                <p href="">Utilisateur</p>
            </nav>
         
        </div>
        <div class="content">
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Recherchez">
                </form>  
                <div class="btn">
                    <p>Deconnecter</p>
                </div>
            </div>
            <div class="contenu">
                <div class="boutton">
                    <p>Ajouter un bien</p>
                </div>
                <div class="contenu_card">
                   
                       
                       
                         <div class="carnet">
                            
                             <div class="table-container">
                                 <h1 class="heading">
                                     La liste des biens Immobiliers
                                 </h1>
                                 
                                 <table class="table" v-else>
                                         <thead>
                                             <tr>
                                                 <th>Nom du bien</th>
                                                 <th>Prix</th>
                                                 <th>Localite</th>
                                                 <th>Action</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                             <tr >
                                                 <td  data-label="date de l'acte" class="doctor">
                                                    <div class="images">
                                                        <img src="../public/images/1.jpg" alt="">
                                                    </div>
                                                    <p>Immeuble</p>

                                                 </td>
                                                 <td data-label="Vaccin utilisé">500.000 FCFA

                                                    
                                                 </td>
                                                 <td data-label="Protège contre">Abidjan Cocody-angre</td>
                                                
                                                 <td class="doctor" >
                                                    <i class="fa-solid fa-eye"></i>
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                    <i class="fa-solid fa-trash"></i>
                                                 </td>
                                               
                                             </tr>
                                           
                                         </tbody>
                                     </table>
                             </div>
                             
                                 
                        </div>
                    
                    
                </div>
                

            </div>

            <div class="contenu1">
                <div class="boutton">
                    <p>Ajouter un Agent</p>
                </div>
                <div class="contenaire_card">
                    <div class="content-card">
                        <div class="card-image">
                           
                            <img src="/public/images/user.png" alt="">   
                             
                        </div>
                        <div class="card-body">
                            <div class="body-text">
                                <i class="fa-solid fa-user"></i>
                            <p>Kionou Mamadou</p>
                            </div>
                            <div class="body-text">
                                <i class="fa-solid fa-envelope"></i>
                            <p>Kionoumama@gma.com</p>
                            </div>
                            <div class="body-text">
                            <i class="fa-solid fa-phone"></i>
                            <p> 85899568945886</p>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <i class="fa-solid fa-trash"></i>
                              
                       </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>