<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/modalAgent.css">
    <title>Document</title>
</head>
<body>
    <div class="modal-container" id="modal">
        <div class="modal">
           <h1>Enregistrement d'Agnent immobilier</h1>
            <div class="container">
          
         
           
            <form action="/connexion
            " method="post">
                <input type="text " placeholder="Nom">
                <input type="text" placeholder="Prenom">
                <input type="email" name="email" placeholder="Adresse Email">   
                <input type="text" placeholder="Numero Téléphonique">
                <input type="password" name="password" placeholder="Mot de passe">
              
                  
                <button >Connecter</button>
            </form>
          
        </div>
        
        </div>
    </div>
</body>
</html>