<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/modal.css">
    <title>Document</title>
</head>
<body>
    <div class="modal-container" id="modal">
        <div class="modal">
           <h1>Enregistrement des biens immobiliers</h1>
           <form action="">
            <div class="form_groupe">
                <input type="text" placeholder="Non du bien">
                <input type="text" placeholder="Prix du bien">
            </div>
             <div class="form_groupe">
                <input type="text" placeholder="Nombre de pieces">
                <input type="text" placeholder="superficie">
            </div>
             <div class="form_groupe">
                <input type="text" placeholder="Nombre de chambre">
                <input type="text" placeholder="Nombre de douche">
            </div>
             <div class="form_groupe">
                <input type="text" placeholder="Ville ">
                <input type="text" placeholder="Commune">
            </div>
            <div class="textArea">
                <textarea name="" id="" cols="71" rows="4"></textarea>
            </div>
            <div class="textArea">
                <textarea name="" id="" cols="71" rows="4"></textarea>
            </div>
            <div class="textArea">
                <textarea name="" id="" cols="71" rows="4"></textarea>
            </div>

           <label class="custom-file-upload">
            <input type="file"/>
            <i class="fa fa-cloud-upload"></i> 
                Téléchargement personnalisé
            </label>

            <div class="boutton">
                    <button>Ajouter un bien</button>
                </div>
           </form>
        
        </div>
    </div>
</body>
</html>